<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title+" - " if title }}gilchrist.tech</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/common.css">

  {%- if meta_description -%}{{ 2 | indent -}}
    {{-"\n" | indent(2) -}}
    <meta property="og:image" content="{{ metaImage }}" />
  {%- endif -%}

  {%- if meta_description -%}{{ 2 | indent -}}
    {{-"\n" | indent(2) -}}
    <meta name="description" content="{{ meta_description | trim }}">
  {%- endif -%}

  {%- if head -%}
    {{-"\n" | indent(2) -}}
    {{ head | assertString | indent | trimRight | safe }}
  {%- endif -%}

  {{-"\n"-}}
</head>
<body>
  <header id="site-header">
    <a class="brand" href="/">gilchrist<wbr/>.tech/</a>
    <nav>
      <ul>
        <li><a href="/interbuilder">Interbuilder</a></li>
        <li><a href="/hefoki">Hefoki</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>

  <main{% if mainClass %} class="{{ mainClass }}"{% endif %}>
    {%- if content -%}
      {{-"\n"-}}
      {{ content | assertString | trim | indentHtml(4) | safe }}
      {{-"\n  "}}
    {%- endif -%}
  </main>

  <footer id="site-footer">
    <div class="copyright">
      <p>&copy;2025 &mdash;&nbsp;Gilchrist Pitts</p>
      <p>All rights reserved.</p>
    </div>

    <nav id="site-footer-projects">
      <h2>Navigation</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>

        <li>
          <h3>Projects</h3>
          <ul>
          {%- for project in collections.projects %}
            <li><a href="{{ project.url }}">{{ project.data.title }}</a></li>
          {%- endfor %}
          </ul>
        </li>
      </ul>
    </nav>
  </footer>
</body>
</html >
