*, *::before, *::after { box-sizing: inherit; min-width: 0 }

body {
  margin: 0;
  box-sizing: border-box;
  min-height: 800px;
  min-height: 100dh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #111;
  background: #fdfdfd;
}

body > main { flex-grow: 1 }

#site-header {
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px 1em;
  justify-content: space-between;

  font-family: monospace;
  font-size: 1.45em;

  border-bottom: 1px solid #8888;
  margin: 1em;
}

#site-header .brand {
  font-family: monospace;
}

#site-header a { text-decoration: none; }

#site-header nav {
  font-size: 0.95em;
}

#site-header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;

  li + li {
    border-left: 2px solid #888;
    padding-left: 1em;
  }
}

img {
  max-width: 100%;

  max-height:  600px;
  max-height:  100vh;
  max-height: 100dvh;
}

main {
  /*
    Main section design defaults. Other layouts should override
    these properties if needed; but they are intended to be
    inconsequential.
  */
  line-height: 1.6;
  padding: 0 5dvmin;
}

nav ul {
  padding-inline-start: 1em;
}

.vertical-split {
  max-width: 1200px;
}

.vertical-split {
  @media (
    (min-width: 900px) or
    ((orientation: landscape) and (min-width: 750px)) 
  ){
    display: grid;
    --split-width: 350px;

    grid-template-columns: var(--split-width) auto;

    grid-column-gap: 2em;
    @media (max-width: 1000px) {
      grid-column-gap: 1em;
    }

    /*
      By default, place items in the left column,
      unless this has the .right class
    */
    & > :where(*) { grid-column: 1;          }
    & > .span     { grid-row: 2 / span 9999; }
    & > .slide   { grid-column: 2;          }

    &.flip {
      & > :where(*) { grid-column: 2; }
      & > .slide   { grid-column: 1; }
      & > .span     { grid-row: 1 / span 9999; }
    }

    & > .left  { grid-column: 1 }
    & > .right { grid-column: 2 }

    & > .span.vertical-center {
      align-self: center;
    }

    & > .slide {
      grid-row: 1 / span 9999;
    }

    & > picture.slide > :is(img, src),
    & > img.slide {
      position: sticky;
      top: 0%;
      width:  100%;
      height: 100%;
      max-height: min(100%, 100vh);
      max-height: min(100%, 100dvh);
    }

    & > div.slide {
      & :first-child {
        position: sticky;
        top: 0%;
        padding-top: 10dvh;
        padding-bottom: 5dvh;

        max-height: 100%;
        max-height: min(100%, 100vh);
        max-height: min(100%, 100dvh);

        @media (min-height: 900px) {
          padding-top: 15dvh;
          padding-bottom: 0;
        }

        @media (min-height: 1500px) {
          padding: 0;
          padding-top: 100px;
        }
      }
    }
  }
}

.vertical-split > :where(img),
.vertical-split > .slide > :where(img) {
  margin:     0 auto;
  width:      auto;
  max-height: 200px;
  max-height: 50vh;
  max-height: 50dvh;

  object-fit: contain;
  object-position: center;
}


#site-footer {
  margin:      24px; padding:      24px;
  margin:   2.5dmin; padding:   2.5dmin;
  margin:  2.5dvmin; padding:  2.5dvmin;

  min-height:            256px;
  min-height: max(256px, 20vh);
  min-height: max(256px,20dvh);

  border-top:  1px solid #8888;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

#site-footer :is(h2,h3,h4) {
  margin: 0;
  padding: 0;
}

#site-footer nav {
  direction: rtl;
}

#site-footer nav li {
  margin-top: 0.36em;
  font-size: 1.05em;
}

#site-footer nav h3 {
  margin-top: 0.65em;
}

#site-footer nav a {
  text-decoration: none;
}

a.button {
  display: inline-block;
  
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  background: white;

  border:              1px solid #888c;
  border-bottom-style: double;
  border-bottom-width: 4px;

  width:     auto;
  position:  relative;
  font-size: 1.25em;

  margin-top:    1.0em;
  margin-bottom: 1.0em;
  padding: 0.15em 0.85em 0.15em 0.50em;
}

a.github.button {
  border-left:   none;
  margin-left:   3.5em;
}

a.github.button img {
  z-index: 1;
  margin: -1em 0;
  margin-left:  -3.3em;
  margin-right: 0.35em;
  height: 4em;
  width:  4em;
}


main :is(h1,h2,h3) .title {
  font-size: 1.2em; /* Proably 1.44rem */
}


main :is(h1,h2,h3) .subtitle {
  display: block;
  font-size: 0.65em;
  font-style: italic;
  font-weight: normal;
}


/*
  The ink class is for high-contrast greyscale images with no
  transparency, indented for ink illustrations.

  On a white background. The image will adopt the background as
  though the white were transparent, and black pixels will be
  the inverse of the background. This allows suitable images to
  work in any color scheme.

  If not all the necessary CSS is supported, it doesn't try
  anything fancy, falling back to boring, normally-styled
  elements instead.
*/
@supports ((filter: invert()) and (mix-blend-mode: difference)) {
  img.ink {
    filter: invert();
    mix-blend-mode: difference;
  }
}

@media print {
  body {
    line-height: 0.98;
    font-size: 0.95em;
  }

  #site-header nav { display: none !important }

  #site-footer {
    border-top: 0.25mm solid black;
    font-size: 0.8em;
    padding: 0.5em;
    nav { display: none !important }
    break-before: avoid;
  }

  main *:where(h1, h2, h3, h4, h5, h6) {
    break-after: avoid;
  }

  main *:where(h1, h2, h3, h4, h5, h6) + p {
    break-before: avoid;
  }

  main h2 {
    break-before: page;
  }

  ul {
    break-before: avoid;
    break-inside: avoid;
  }

  li, p {
    break-inside: avoid;
  }

  .only-screen {
    display: none !important;
  }
}
