---
title:  Hefoki
layout: base.njk
tags:   ["projects", "portfolio"]

repository: https://github.com/GilchristTech/hefoki

head: >
  <link rel="stylesheet" href="/index.css">

shortHtml: |
  <p>After using the <a
    href="https://en.wikipedia.org/wiki/Portal:Current_events">Wikipedia
    Current Events Portal</a> as a source of quick, daily news, I wanted my own
  interface for reading the summaries of stories appearing on the portal. The
  Hefoki website checks the Current Events Portal page for new stories, and
  maintains a web page for each day of stories.
  </p>
---

{#-
  What to portray?
  "web pages" sounds like each article becomes its own page
-#}

<section class="vertical-split" style="--split-width: 50%">
  <h1>
    <span class="title">Hefoki</span>
    <span class="subtitle">Headlines extracted from Wikipedia</span>
  </h1>

  <div class="slide">
    <img class="ink" src="/static/inktober-star.png">
  </div>

  <a class="github button ink" href="{{ repository }}" target="_blank">
    <img src="/static/github-mark.svg" alt="GitHub logo">GitHub repo
  </a>

  <p>At one point, I was using the Wikipedia
  <a href="https://en.wikipedia.org/wiki/Portal:Current_events">Current Events Portal</a>
  as a source of quick, daily news. Hefoki scrapes that page and
  generates web pages for that content. 
  </p>

  <h2>Technical Approach</h2>

  <p>Hefoki is a case-study in some of the designs I wish to
  enable in <a href="/interbuilder">Interbuilder</a>. Very
  briefly, it has a form of incremental building where,
  <a href="https://11ty.dev">11ty</a>, a static site generator,
  is used to generate web pages for database entries from only
  the last month, and an AWS Lambda function compares the resultant
  static assets with those generated by 11ty and those already
  deployed to an S3 bucket. If any next/previous links need to be
  updated, the HTML in the newly generated pages <i>and</i> the
  already-deployed pages are mutated and deployed or
  re-deployed.
  <p>

  <p>The experimental quality of Hefoki, is that it's static
  deployment logic includes manipulation of already-deployed HTML
  code, and redeploying it. I'd like to organize this technique
  into something more formal, and add such features to
  Interbuilder. Hefoki is a experiment in this, as well as a
  proof-of-concept.
  </p>
</section>
