main h1 span {
  display: block;
}

main :is(h1, h2, h3) {
  color: black;
  font-weight: normal;
  border-bottom: 1px solid #8888;
  padding: 8px;
}

main h1 {
  border-left: 4px solid #888;
}

main h2 {
  font-size: 1.2
}

main > section {
  margin: 0 auto;

  @media (max-height: 1500px) {
    min-height: 75dvh;
  }
}

main > section + section {
  border-top: 1px solid #888;
  @media (min-width: 600px) {
    margin-top: 15dvh;
    border-top: 1px solid #8882;
  }
  @media (min-height: 1500px) {
    margin-top: 8em;
  }
}

#other-projects {
  h3 {
    margin: 0;
    font-size: 1.2em;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-top: 1em;
      @media (min-width: 400px) {
        margin:  1em;
      }
      padding: 1em;
      border:  1px solid #8888;
    }
  }

  .button {
    display: inline-flex;
    justify-self: baseline;
    width: auto;
  }
  .button.github {
    font-size: 0.85em;
    width: auto;
    justify-self: baseline;
  }
}


#other-projects h2 {
  text-align: left;
  @media (min-width: 750px) {
    text-align: center;
  }
  @media (min-width: 1200px) {
    border: none;
  }
}


section#small-projects {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20vh;

  ul {
    display: flex;
    flex-flow: row wrap;
    @media (max-width: 600px) {
      flex-flow: column;
    }
    justify-content: center;
    gap: 2em;
    padding: 0;

    li {
      list-style: none;
      flex-basis: 200px;

      h3 {
        display: flex;
        justify-content: space-between;
        align-items: top;
        font-weight: bold;
        border: none;
        gap: 1em;
        margin: 0;
        padding: 0;

        img {
          height: 2em;
          width: auto;
          object-fit: contain;
          margin-top: -0.5em;
          margin-bottom: -1.5em;
        }
        
        p {
          font-size: 0.9em;
          margin: 0;
        }
      }
    }
  }
}


section#posts {
  min-height: auto; /* Unset page default value for sections */
  padding:    2em;
  max-width:  600px;
  margin:     0 auto;

  & > ul > li > a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;

    li {
      position: relative;

      /*
        If this article box has an image, make space for it and
        position the image at the right.
      */
      &:has(img) {
        img {
          float: right;
          width: 100px;
          height: auto;
          border-radius: 6px;
          margin: 8px;
        }
      }

      h3 {
        margin: 0;
        padding: 0;
        border: none;
      }

      p {
        margin: 0;
        margin-top: 4px;
        & + p { margin-top: 8px }
        color: #111;
        font-size: 0.95em;

        &:first-of-type {
          margin-top: 1em;
        }
      }

      border: 1px solid #8888;
      margin: 1em;
      padding: 1em;
      min-width: min(100%, 200px);
      justify-items: center;
    }
  }
}
