{% extends "base.html" %}

{% block title %}
	Gilchrist Tech
{% endblock %}

{% block pre_header %}
	<div class="showcase">
		<div class="clock"></div>
		<div class="title-info">
			<h1>gilchrist.tech</h1>
			<h2>Web Application Development</h2>
		</div>

		<section class="services">
			<h1 class="embelish">
				<img class="embelish left" src="static/embelish.svg">
				Services and Technologies
				<img class="embelish right" src="static/embelish.svg">
			</h1>
			<ul>
				<li>Full-stack Development</li>
				<li>Static Sites and Frontend Design</li>
				<li>Graphics &amp; Logos</li>
				<li>React, Typescript, and Webpack</li>
			</ul>
		</section>

		<div class="scroll-indicator"></div>
	</div>
{% endblock %}

{% block main %}
	<div id="projects">
		<div class="section-header">
			<h1 class="embelish" data-aos=zoom-in>
				<img class="embelish left" src="static/embelish.svg">
				Projects
				<img class="embelish right" src="static/embelish.svg">
			</h1>
		</div>

		{% include 'projects-web-imposition.html' %}

	</div>

	<section class="about-me">
		<div class="section-header">
			<h1 class="embelish" data-aos=zoom-in>
				<img class="embelish left" src="static/embelish.svg">
				About Me
				<img class="embelish right" src="static/embelish.svg">
			</h1>
		</div>

		<div data-aos=fade-in data-aos-duration=1000>
			<p>My name is Gilchrist Pitts, I'm a software developer.  When I was
			a child, the first programming language I learned was a variant of
			BASIC.  The entire time since, I've been writing software, and this
			has led me to become knowledgable in a broad range of technologies.</p>
			<p>I continually update my skill to be prepared for an industry in
			constant flux.</p>
		</div>

		<a href="mailto:contact@gilchrist.tech">Contact</a>

	</section>
{% endblock %}
