---
title:  Home
layout: base.njk
head: >
  <meta name="description" content="Gilchrist Pitts - Developer and illustrator for twenty years. Creator of Interbuilder, Hefoki, and other software.">
  <link rel="stylesheet" href="index.css">
---

<section id="intro" class="vertical-split">
  <h1>
    <span class="title">Gilchrist Pitts</span>
    <span class="subtitle">Twenty years of self-directed software development</span>
  </h1>

  <picture class="slide">
    <source class="ink" srcset="/static/inktober-exhausted.webp" alt="Inktober Prompt: Exhausted. Depicted: me after Inktober">
    <img class="ink" src="/static/inktober-exhausted.jpg" width="400" alt="Inktober Prompt: Exhausted. Depicted: me after Inktober">
  </picture>

  {#- Fetch a short about-me blurb from the About page's frontmatter -#}
  {{-"\n\n"}}{{- collections.all | search(
    "[?@.inputPath == './src/about.njk'].data | [0].shortHtml"
  ) | assertString | indent | trimRight | safe }}

  <p style="text-align: center">
    <a class="button read-more" href="/about" class="button read-more">About</a>
  </p>
</section>

<section id="current-project" class="vertical-split flip" style="--split-width: 45%;">
  <h2>
    <span class="title">Current Project: Auto-shooter Roguelike</span>
  </h2>

  <picture class="slide">
    <source class="ink" srcset="/static/inktober-ancient.webp" alt="Inktober prompt: Ancient">
    <img class="ink" src="/static/inktober-ancient.jpg" width="250" alt="Inktober prompt: Ancient">
  </picture>

  <p>My current project is web-based, auto-shooter
  roguelike game where you control a party of characters to
  progress through a gauntlet of dungeon floors, brimming with
  hundreds of enemies. With the only controls moving you, your
  party will automatically attack your foes, and between floors
  of the dungeon, these characters will level up and encounter
  item shops. The key to strategy in this game is how you trade
  items between your party members.</p>

  <p>Although I am quickly making progress on this game, I'm
  intending to polish it more before making it publicly
  playable.</p>

  <h3>Technical details</h3>
  <ul>
    <li>Written in pure VanillaJS</li>
    <li>Bundled with Vite</li>
    <li>Custom engine for state and event management</li>
    <li>In-memory manipulation of PNG files for palette swaps</li>
    <li>Small enough to fit on a floppy diskette</li>
  </ul>

  {#
  // Fetch a summary from the page's frontmatter
  {{-"\n\n"}}{{- collections | search(
    "all[?@.inputPath == './src/interbuilder.njk'].data | [0].shortHtml"
  ) | assertString | indent | trimRight | safe }}

  <p style="text-align: center"><a href="/interbuilder" class="button read-more">More about Interbuilder</a></p>
  -#}
</section>

<section id="other-projects" class="vertical-split" style="--split-width:60%">
  <h2>
    Other Projects
  </h2>

  <picture class="slide">
    <source class="ink" srcset="/static/inktober-freeze.webp" alt="Inktober prompt: Freeze">
    <img class="ink" src="/static/inktober-freeze.jpg" width="250" alt="Inktober prompt: Freeze">
  </picture>

  <ul>
    <li id="interbuilder">
      <h3>Interbuilder</h3>
      {#- Fetch a summary about Interbuilder from its page's frontmatter -#}
      {%- set interbuilder = collections | search(
        "all[?@.inputPath == './src/interbuilder.njk'].data | [0]"
      )-%}
      {{-"\n\n"}}{{- interbuilder.shortHtml | assertString | indent(6) | trimRight | safe }}

      <nav style="display: flex; flex-flow: row wrap; align-items: center">
        <a href="/interbuilder" class="button read-more">More about Interbuilder</a>

        <a class="github button ink" href="{{ interbuilder.repository }}" target="_blank">
          <img src="/static/github-mark.svg" alt="GitHub logo">GitHub repo
        </a>
      </nav>
    </li>

    <li id="hefoki">
      <h3><a target="_blank" href="https://hefoki.today/">Hefoki</a></h3>
      {#- Fetch a summary about Hefoki from its page's frontmatter -#}
      {%- set hefoki = collections | search(
        "all[?@.inputPath == './src/hefoki.njk'].data | [0]"
      )-%}
      {{-"\n\n"}}{{- hefoki.shortHtml | assertString | indent(6) | trimRight | safe }}

      <nav style="display: flex; flex-flow: row wrap; align-items: center">
        <a href="/hefoki" class="button read-more">More about Hefoki</a>

        <a class="github button ink" href="{{ hefoki.repository }}" target="_blank">
          <img src="/static/github-mark.svg" alt="GitHub logo">GitHub repo
        </a>
      </nav>
    </li>

    <li id="flef" class="vertical-split" style="--split-width: auto">
      <h3>Flef</h3>

      <img
        src="/static/flef-logo.svg"
        class="right span vertical-center"
        alt="Flef logo"
        style="
          max-width: 200px;
          padding:   1em;
          opacity:   0.5;
        "
      >

      <p><code>flef</code> is a small convenience utility for
      creating and navigating to single-day project directories
      without needing to type dates in their names. Invoking
      <code>flef</code> ensures the existence of a project
      directory, named with the current date, and starts a shell
      there; creating a clean environment and helping facilitate
      a habit of daily coding.
      </p>

      <a  class="github button ink"
          href="https://github.com/GilchristTech/flef"
          target="_blank"
      >
        <img src="/static/github-mark.svg" alt="GitHub logo">GitHub repo
      </a>

    </li>

    <li id="web-imposition">
      <h3>Web Imposition</h3>
      <p>Print booklets and zines at home! Web Imposition is a tool for taking
      PDFs and scaling their pages down onto sheets which can be folded and
      staple-bound.
      </p>

      <p>This process of cutting up the document and rearranging it
      to be folded is called imposition, and unlike other online imposition
      tools, Web Imposition works entirely in the browser without sending your
      documents to a server.
      </p>

      <a  class="github button ink"
          href="https://github.com/GilchristTech/flef"
          target="_blank"
      >
        <img src="/static/github-mark.svg" alt="GitHub logo">GitHub repo
      </a>
    </li>
  </ul>
</section>{{"\n"-}}

<section id="small-projects">
  <h2>Modules and Small Projects</h2>

  <p>These are things I've worked on, that while
  smaller, I still think are worth note.</p>

  <ul>
    <li id="tinysplit">
      <a class="ink" href="https://github.com/GilchristTech/tinysplit" target="_blank">
        <h3>
          <span>TinySplit</span>
          <img src="/static/github-mark.svg" alt="GitHub Repo">
        </h3>
      </a>
      <p>A lightweight document-like file format oriented around
      streaming. Although the repo contains example
      implementations, it's designed to be simple enough for a
      developer to write their own from memory with basic string
      functions.</p>
    </li>

    <li id="brofert">
      <a class="ink" href="https://github.com/GilchristTech/brofert" target="_blank">
        <h3>
          <span>Brofert</span>
          <img src="/static/github-mark.svg" alt="GitHub Repo">
        </h3>
      </a>
      <p>Short for Browser Feature Report, this is a single HTML
      page which detects features in the user's browser and
      generates a JSON report. And it does this while targeting
      <b>IE5</b> and <b>Netscape Navigator 6</b>.</p>
    </li>

    <li id="make-element">
      <a class="ink" href="https://github.com/GilchristTech/make-element" target="_blank">
        <h3>
          <span>make-element</span>
          <img src="/static/github-mark.svg" alt="GitHub Repo">
        </h3>
      </a>
      <p>JavaScript module exporting one function:
      <code>makeElement()</code>. Through recursive descent of its
      object argument, it creates HTML elements, styles, and events.
      Initially part of my game, I find it useful for
      VanillaJS, broadly.</p>
    </li>

    <li id="is-js">
      <a class="ink" href="https://github.com/GilchristTech/is-js" target="_blank">
        <h3>
          <span>is.js</span>
          <img src="/static/github-mark.svg" alt="GitHub Repo">
        </h3>
      </a>
      <p>Small set of utility functions for performing runtime
      type checks, meant to iron out the discrepancies in type
      handling within the language.</p>
    </li>
</section>

{%- if collections.posts.length -%}
{{-"\n"-}}
<section id="posts">
  <h2>Posts</h2>
  <ul>
    {%- for post in collections.posts -%}
      {{-"\n"}}{{- 4 | indent -}}
      <li>
        {{-"\n      "-}}
        <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>

        {%- if post.data.publishDate -%}
          <time>{{ post.data.publishDate | formatDate("yyyy-MM-dd") }}</time>
        {%- endif -%}

        {%- set post_thumbnail = post.data.articleThumb or post.data.articleImage -%}
        {% if post_thumbnail %}
          <a href="{{ post.url }}"><img src="{{ post_thumbnail }}"></a>
        {% endif %}

        {%- set post_summary = post.data.summary or post.data.meta_description -%}
        {%- if post_summary -%}
          {{-"\n"-}}
          {%- indent 6 -%}
            <p class="summary">{{- post_summary -}}</p>
          {%- endindent -%}
        {%- endif -%}
        {{-"\n    "-}}
      </li>
    {%- endfor %}
  </ul>
</section>{{"\n"-}}
{%- endif -%}
